@font-face {
    font-family: 'GhibliNormal';
    src: url(../resources/Eyad\ Al-Samman\ -\ Ghibli.otf);
}

@font-face {
    font-family: 'GhibliBold';
    src: url(../resources/Eyad\ Al-Samman\ -\ Ghibli-Bold.otf);
}

:root{
    --one: #FF3333;
    --two: #000000;
    --three: #FF9333;
    --four: #4d4d4d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--two);
    font-family: 'Lucida Grande', 'Lucida Sans', Arial;
    color: white;
}

/* Header  */

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
}

header img{
    vertical-align:-18%;
    margin-right: 2vh;
}

header .logo{
    align-self: center;
    margin-left: 2vh;
    color: var(--one);
    font-family: 'GhibliBold', Arial;
    font-size: 40px;
    letter-spacing: .2rem;
}

header nav a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 3vh;
    transition: .3s ease all;
    font-size: 15px;
}

header nav a:hover{
 color: var(--three);
}

/* Principal */

.principal{
    font-size: 20px;
    background: linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .50)100%), url('/assets/resources/howlsbackground.jpg');
    height: 90vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.principal .resume{
    margin-bottom: 5%;
}

.principal .container{
    margin-left: 5vh;
}

.title{
    margin-top: 8%;
    margin-bottom: 2%;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}

.btn{
    background-color: rgba(0, 0, 0, .50);
    border-color: #ffffff;
    border-radius: 5px;
    color: #ffffff;
    padding: 2vh 4vh;
    margin-right: 1vh;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s ease all;
}

.btn:hover{
    background-color: #ffffff;
    color: #000000;
}

.btn i{
    margin-right: 1vh;
}

.box-movie{
    height: 100%;
    width: 100%;
    display: block;
}

/* Responsividade */

@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .btn{
        margin-top: 1.5%;
        width: 90%;
    }

    .principal{
        height: 70vh;
        width: 100%;
    }
}

@media screen and (max-width: 360px) and (min-width: 200px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .btn{
        margin-top: 1.5%;
        width: 70%;
    }

    .principal{
        height: 90vh;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (min-width: 1000px){
    .principal .resume{
        width: 50%;
    }
}