@font-face {
    font-family: 'GhibliNormal';
    src: url(../resources/Eyad\ Al-Samman\ -\ Ghibli.otf);
}

@font-face {
    font-family: 'GhibliBold';
    src: url(../resources/Eyad\ Al-Samman\ -\ Ghibli-Bold.otf);
}

:root{
    --one: #FF3333;
    --two: #000000;
    --three: #FF9333;
    --four: #4d4d4d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--two);
    font-family: 'Lucida Grande', 'Lucida Sans', Arial;
    color: white;
}

/* Header  */

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header img{
    vertical-align:-18%;
    margin-right: 10px;
}

header .logo{
    align-self: center;
    margin-left: 10px;
    color: var(--one);
    font-family: 'GhibliBold', Arial;
    font-size: 40px;
    letter-spacing: .2rem;
}

header nav a{
    text-decoration: none;
    color: #eeeeee;
    margin-right: 20px;
    transition: .3s ease all;
    font-size: 15px;
}

header nav a:hover{
 color: var(--three);
}

/* Principal */

.principal{
    font-size: 20px;
    background: linear-gradient(rgba(0, 0, 0, .30), rgba(0, 0, 0, .50)100%), url('/assets/resources/howlsbackground.jpg');
    height: 75vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.principal .resume{
    margin-bottom: 2%;
}

.title{
    margin-top: 12%;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}

.btn{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: #ffffff;
    padding: 12px 28px;
    margin-right: 15px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s ease all;
}

.btn:hover{
    background-color: #ffffff;
    color: #000000;
}

.btn i{
    margin-right: 7px;
    width: 20px;
}